<!DOCTYPE html>
<html>
<title>Easier Read Than Done</title>
  <head>
    <!--Import Google Icon Font-->
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css\materialize.min.css') }}"  media="screen,projection"/>
    <!-- Import main stylesheet -->
    <link rel="stylesheet" href="css/styles.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <center>
      <br />
      <br />
      <br />
      <br />
      <h1>Easier Read Than Done</h1>
      <h6>A Student Led Book Club</h6>
      <br /><br /><br />
      <h5>Flush - Carl Hiaasen</h5>
    </center>
    <div class="container">
      <div class="row">
        <a href="flush.html"><div class="covers">
          <img src="covers/flush.jpg" class="" />
          </div></a>
        </div>
      </div>

      <br /><br />
      <div class="container">
        <div class="row">
          <h5>Connection to global issues</h5>
          <hr />
          <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

          <h5>Analysis</h5>
          <hr />
          </div>
      </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br />

    <footer class="page-footer black" style="margin-top:20px">
      <div class="container">
        <div class="row" style="margin-bottom: 0px;">
          <div class="col s3 right">
             <i>Developed by <a href="https://github.com/muhsin7" target="_blank">Muhsin7</a></i>
            <br />
            <br />
          </div>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
</html>
